/*This is the CSS page for our final template.*/
p{
	font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 10px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: #4E6151;
	color: #72BDA3;
}
h4 {
	font-style: italic;
	font-size: 20px;
	font-family: 'Georgia', serif;
}
h3 {
	font-size: 30px;
}


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
 input {
  caret-color: orange;
}
}
